name: QA DevOps Lab

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  full-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install dependencies
        run: npm install

      - name: Run Postman tests with server startup
        run: npm run test:postman:ci

      - name: Run Cypress tests
        uses: cypress-io/github-action@v6
        with:
          start: npm start
          wait-on: 'http://localhost:3000'
          wait-on-timeout: 120
          browser: chrome
          spec: tests/cypress/e2e/**/*.cy.js
